*
    box-sizing: border-box
    
body
    +light
    color: $a-color
    
.section
    padding: 90px 0

.container
    width: 1170px
    margin: auto
img
    max-width: 100%
    max-height: 100%
@media ( max-width: 1200px )

    .container
        max-width: 960px
        width: 90%

@media ( max-width: 768px )

    .container 
        max-width: 567px
        width: 90%

@media ( max-width: 320px )
    .container
        max-width: 300px
        width: 90%
     
.button
    border: none
    background-color: $main-color
    padding: 19px 30px
    font-weight: 400
    font-size: 13px
    border-radius: 10px
    transition: .3s linear
    &:hover
        background-color: lighten($main-color,20% )