@font-face {
  font-family: 'Museo Sans Cyrl Light';
  src: url("/src/fonts/Museo-Sans-Cyrl/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("/src/fonts/Museo-Sans-Cyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("/src/fonts/Museo-Sans-Cyrl/MuseoSansCyrl-300.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl Bold';
  src: url("/src/fonts/Museo-Sans-Cyrl/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("/src/fonts/Museo-Sans-Cyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("/src/fonts/Museo-Sans-Cyrl/MuseoSansCyrl-700.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Museo Sans Cyrl Light', sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 567px;
    width: 90%;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
    width: 90%;
  }
}

.button {
  border: none;
  background-color: #ffd200;
  padding: 19px 30px;
  font-weight: 400;
  font-size: 13px;
  border-radius: 10px;
}

.navbar-block {
  display: flex;
  justify-content: space-between;
}

.navbar__info {
  display: flex;
  align-items: center;
}

.navbar__contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 30px;
}

.navbar__region {
  font-size: 13px;
}

.navbar__button {
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
}

@media (max-width: 768px) {
  .navbar {
    margin-bottom: 17px;
    margin-top: 17px;
  }
  .navbar .navbar__contacts {
    display: none;
  }
}

@media (max-width: 356px) {
  .navbar .navbar {
    margin-bottom: 17px;
    margin-top: 17px;
  }
  .navbar .navbar__logo {
    width: 91px;
    height: 44px;
  }
  .navbar .navbar__button {
    padding: 15px 30px;
    font-size: 10px;
  }
}

.navbar__phone {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
}

.hero {
  background-color: #f5f5f5;
}

.hero-block {
  display: flex;
  justify-content: space-between;
  padding: 90px 0 90px;
}

.hero-image {
  width: 50%;
}

.hero-image img {
  width: 100%;
}

.hero-text {
  width: 50%;
}

.hero-text__title {
  margin: 0;
  font-weight: 700;
  font-size: 41px;
}

.hero-text__subtitle {
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 65px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-right: 30px;
}

.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.hero-list__text {
  line-height: 24px;
}

@media (max-width: 768px) {
  .hero-block {
    flex-direction: column;
    padding: 46px 0 52px 0;
  }
  .hero-image {
    width: 100%;
  }
  .hero-text {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .hero-block {
    flex-direction: column;
    padding: 46px 0 52px 0;
  }
  .hero-image {
    width: 100%;
  }
  .hero-text {
    width: 100%;
  }
  .hero-text__title {
    font-weight: 700;
    font-size: 24px;
  }
  .hero-text__subtitle {
    margin-top: 13px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  .hero-list__item {
    margin-bottom: 13px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 1.4;
  }
}
