@font-face {
  font-family: 'Museo Sans Cyrl Light';
  src: url("/src/fonts/Museo-Sans-Cyrl/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("/src/fonts/Museo-Sans-Cyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("/src/fonts/Museo-Sans-Cyrl/MuseoSansCyrl-300.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl Bold';
  src: url("/src/fonts/Museo-Sans-Cyrl/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("/src/fonts/Museo-Sans-Cyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("/src/fonts/Museo-Sans-Cyrl/MuseoSansCyrl-700.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Cyrl Light', sans-serif;
  color: #333333;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-size: 30px;
  text-align: center;
}

.section-subtitle {
  display: inline-block;
  font-size: 16px;
}

.container {
  width: 1170px;
  margin: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 567px;
    width: 90%;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
    width: 90%;
  }
}

.button {
  border: none;
  background-color: #ffd200;
  padding: 19px 30px;
  font-weight: 400;
  font-size: 13px;
  border-radius: 10px;
  transition: .3s linear;
}

.button:hover {
  background-color: #ffe466;
}

.arrow-up {
  position: fixed;
  font-size: 40px;
  top: 50%;
  right: 50px;
}

.slider-arrows {
  margin: auto;
  margin-top: 60px;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.navbar-block {
  display: flex;
  justify-content: space-between;
}

.navbar__info {
  display: flex;
  align-items: center;
}

.navbar__contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 30px;
}

.navbar__region {
  font-size: 13px;
}

.navbar__button {
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
}

@media (max-width: 768px) {
  .navbar {
    margin-bottom: 17px;
    margin-top: 17px;
  }
  .navbar .navbar__contacts {
    display: none;
  }
}

@media (max-width: 356px) {
  .navbar .navbar {
    margin-bottom: 17px;
    margin-top: 17px;
  }
  .navbar .navbar__logo {
    width: 91px;
    height: 44px;
  }
  .navbar .navbar__button {
    padding: 15px 30px;
    font-size: 10px;
  }
}

.navbar__phone {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
}

.hero {
  background-color: #f5f5f5;
  padding-top: 90px;
  padding-bottom: 50px;
}

.hero-block {
  display: flex;
  justify-content: space-between;
}

.hero-image {
  width: 50%;
}

.hero-image img {
  width: 100%;
}

.hero-text {
  width: 50%;
}

.hero-text__title {
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 41px;
}

.hero-text__subtitle {
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 65px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-right: 30px;
}

.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__text {
  line-height: 24px;
}

@media (max-width: 768px) {
  .hero-block {
    flex-direction: column;
    padding: 46px 0 52px 0;
  }
  .hero-image {
    width: 100%;
  }
  .hero-text {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .hero-block {
    flex-direction: column;
    padding: 46px 0 52px 0;
  }
  .hero-image {
    width: 100%;
  }
  .hero-text {
    width: 100%;
  }
  .hero-text__title {
    font-weight: 700;
    font-size: 24px;
  }
  .hero-text__subtitle {
    margin-top: 13px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  .hero-list__item {
    margin-bottom: 13px;
  }
  .hero-list__item:last-child {
    margin-bottom: 40px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 1.4;
  }
}

.offer {
  background: url("../img/offer-img/offer.jpg") no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}

.offer:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
}

.offer-block {
  width: 50%;
  padding-right: 92px;
  position: relative;
  margin: 0;
}

.offer-title {
  text-align: left;
  max-width: 350px;
  line-height: 35px;
  margin: 0;
  font-size: 24px;
}

.offer-subtitle {
  max-width: 240px;
  margin: 19px 0 30px 0;
}

.offer__button {
  width: 100%;
  font-size: 16px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  height: 70px;
  line-height: 18px;
  margin-bottom: 30px;
}

.offer-contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 24px;
}

.offer-contacts__answer {
  max-width: 230px;
}

.offer-contacts__telephone {
  font-size: 15px;
}

.offer-contacts__telephone span {
  display: block;
}

.offer-contacts__telephone a {
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
}

.input-form__input {
  padding: 26px 26px;
  width: 240px;
  max-height: 65px;
  margin-bottom: 30px;
  border: solid 1px #dddddd;
  border-radius: 10px;
}

.input-form__input:first-child {
  margin-right: 9px;
}

.input-form__input:focus {
  outline: none;
  border-color: #ffd200;
}

@media (max-width: 1200px) {
  .input-form__input {
    width: 100%;
  }
  .offer {
    background-size: cover;
  }
  .offer-contacts {
    font-size: 13px;
  }
  .offer-contacts__telephone {
    font-size: 13px;
  }
}

@media (max-width: 989px) {
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  -title {
    max-width: 100%;
  }
  .offer {
    background: none;
  }
  .offer-block {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 320px) {
  -title {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: normal;
    font-family: 'Museo Sans Cyrl Bold', sans-serif;
  }
  -subtitle {
    font-size: 14px;
  }
  .offer {
    background: none;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__button {
    font-size: 14px;
    padding: 19px 62px;
  }
  .offer-contacts {
    display: block;
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
}

.modal_active {
  display: flex;
}

.modal-inner {
  background-color: #fff;
  width: 400px;
  height: 200px;
  padding: 20px;
  position: relative;
}

.modal__close {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.modal__title {
  font-size: 35px;
}

.portfolio-title {
  width: 800px;
  margin: auto;
  margin-bottom: 100px;
}

.section__portfolio {
  background: repeat-y url("/src/img/portfolio-img/portfolio-background.jpg") #f5f5f5;
  background-position-x: left;
  background-size: 50%;
}

.price-section {
  padding-top: 100px;
}

.price-section__title {
  margin: auto;
  margin-bottom: 53px;
  width: 535px;
  line-height: 45px;
}

.price-section__subtitle {
  display: block;
  text-align: center;
  margin-bottom: 59px;
}

.card {
  border: 1px solid #e8e8e8;
  padding-bottom: 40px;
  margin-bottom: 30px;
  transition: .3s;
  text-align: center;
}

.card-image {
  position: relative;
}

.card-image:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: .3s;
}

.card-image__image {
  display: block;
}

.card:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card-image:before {
  opacity: 1;
}

.card:hover .card__link::after {
  height: 12px;
}

.card__title {
  margin-top: 39px;
  font-size: 18px;
  font-family: 'Museo Sans Cyrl Light', sans-serif;
  text-align: center;
}

.card__link {
  display: inline-block;
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  margin-top: 31px;
  position: relative;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
}

.card__link::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  display: block;
  background: #ffd200;
  bottom: -4px;
  left: 0;
  transition: .3s;
  z-index: -1;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
