@font-face {
  font-family: 'Museo Sans Cyrl Light';
  src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl-300.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl Bold';
  src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl-700.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Cyrl Light', sans-serif;
  color: #333333;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-size: 30px;
  text-align: center;
}

.section-subtitle {
  display: inline-block;
  font-size: 16px;
}

.container {
  width: 1170px;
  margin: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 567px;
    width: 90%;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
    width: 90%;
  }
}

.button {
  border: none;
  background-color: #ffd200;
  padding: 19px 30px;
  font-weight: 400;
  font-size: 13px;
  border-radius: 10px;
  transition: .3s linear;
}

.button:hover {
  background-color: #ffe466;
}

.slider-arrows {
  margin: auto;
  margin-top: 60px;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.bold {
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
}

.input {
  border: 1px solid #f5f5f5;
}

.input:focus {
  outline-color: #ffd200;
}

.invalide {
  border: 1px solid #ff0000;
}

.invalide:focus {
  border-color: #f5f5f5;
  outline-color: red;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.owl-height {
  transition: height .5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform .1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  animation-delay: 1s;
}

.animated.delay-2s {
  animation-delay: 2s;
}

.animated.delay-3s {
  animation-delay: 3s;
}

.animated.delay-4s {
  animation-delay: 4s;
}

.animated.delay-5s {
  animation-delay: 5s;
}

.animated.fast {
  animation-duration: 800ms;
}

.animated.faster {
  animation-duration: 500ms;
}

.animated.slow {
  animation-duration: 2s;
}

.animated.slower {
  animation-duration: 3s;
}

@media (prefers-reduced-motion) {
  .animated {
    animation: unset !important;
    transition: none !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRightBig {
  animation-name: fadeInRightBig;
}

.navbar-block {
  display: flex;
  justify-content: space-between;
}

.navbar__info {
  display: flex;
  align-items: center;
}

.navbar__contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 30px;
}

.navbar__region {
  font-size: 13px;
}

.navbar__button {
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
}

@media (max-width: 768px) {
  .navbar {
    margin-bottom: 17px;
    margin-top: 17px;
  }
  .navbar .navbar__contacts {
    display: none;
  }
}

@media (max-width: 356px) {
  .navbar .navbar {
    margin-bottom: 17px;
    margin-top: 17px;
  }
  .navbar .navbar__logo {
    width: 91px;
    height: 44px;
  }
  .navbar .navbar__button {
    padding: 15px 30px;
    font-size: 10px;
  }
}

.navbar__phone {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
}

.hero {
  background-color: #f5f5f5;
  padding-top: 90px;
  padding-bottom: 50px;
}

.hero-block {
  display: flex;
  justify-content: space-between;
}

.hero-image {
  width: 50%;
}

.hero-image img {
  width: 100%;
}

.hero-text {
  width: 50%;
}

.hero-text__title {
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 41px;
}

.hero-text__subtitle {
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 65px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-right: 30px;
}

.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__text {
  line-height: 24px;
}

@media (max-width: 768px) {
  .hero-block {
    flex-direction: column;
    padding: 46px 0 52px 0;
  }
  .hero-image {
    width: 100%;
  }
  .hero-text {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .hero-block {
    flex-direction: column;
    padding: 46px 0 52px 0;
  }
  .hero-image {
    width: 100%;
  }
  .hero-text {
    width: 100%;
  }
  .hero-text__title {
    font-weight: 700;
    font-size: 24px;
  }
  .hero-text__subtitle {
    margin-top: 13px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  .hero-list__item {
    margin-bottom: 13px;
  }
  .hero-list__item:last-child {
    margin-bottom: 40px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 1.4;
  }
}

.offer {
  background: url("../img/offer-img/offer.jpg") no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}

.offer:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
}

.offer-block {
  width: 50%;
  padding-right: 92px;
  position: relative;
  margin: 0;
}

.offer-title {
  text-align: left;
  max-width: 350px;
  line-height: 35px;
  margin: 0;
  font-size: 24px;
}

.offer-subtitle {
  max-width: 240px;
  margin: 19px 0 30px 0;
}

.offer__button {
  width: 100%;
  font-size: 16px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  height: 70px;
  line-height: 18px;
  margin-bottom: 30px;
}

.offer-contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 24px;
}

.offer-contacts__answer {
  max-width: 230px;
}

.offer-contacts__telephone {
  font-size: 15px;
}

.offer-contacts__telephone span {
  display: block;
}

.offer-contacts__telephone a {
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
}

.input-form__input {
  padding: 26px 26px;
  width: 240px;
  max-height: 65px;
  margin-bottom: 30px;
  border: solid 1px #dddddd;
  border-radius: 10px;
}

.input-form__input:first-child {
  margin-right: 9px;
}

.input-form__input:focus {
  outline: none;
  border-color: #ffd200;
}

@media (max-width: 1200px) {
  .input-form__input {
    width: 100%;
  }
  .offer {
    background-size: cover;
  }
  .offer-contacts {
    font-size: 13px;
  }
  .offer-contacts__telephone {
    font-size: 13px;
  }
}

@media (max-width: 989px) {
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  -title {
    max-width: 100%;
  }
  .offer {
    background: none;
  }
  .offer-block {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 320px) {
  -title {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: normal;
    font-family: 'Museo Sans Cyrl Bold', sans-serif;
  }
  -subtitle {
    font-size: 14px;
  }
  .offer {
    background: none;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__button {
    font-size: 14px;
    padding: 19px 62px;
  }
  .offer-contacts {
    display: block;
  }
}

.portfolio-title {
  width: 800px;
  margin: auto;
  margin-bottom: 100px;
}

.section__portfolio {
  background: repeat-y url("../img/portfolio-img/portfolio-background.jpg") #f5f5f5;
  background-position-x: left;
  background-size: 50%;
}

.price-section {
  padding-top: 100px;
}

.price-section__title {
  margin: auto;
  margin-bottom: 53px;
  width: 535px;
  line-height: 45px;
}

.price-section__subtitle {
  display: block;
  text-align: center;
  margin-bottom: 59px;
}

.card {
  border: 1px solid #e8e8e8;
  padding-bottom: 40px;
  margin-bottom: 30px;
  transition: .3s;
  text-align: center;
}

.card-image {
  position: relative;
}

.card-image:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: .3s;
}

.card-image__image {
  display: block;
}

.card:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card-image:before {
  opacity: 1;
}

.card:hover .card__link::after {
  height: 12px;
}

.card__title {
  margin-top: 39px;
  font-size: 18px;
  font-family: 'Museo Sans Cyrl Light', sans-serif;
  text-align: center;
}

.card__link {
  display: inline-block;
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  margin-top: 31px;
  position: relative;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
}

.card__link::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  display: block;
  background: #ffd200;
  bottom: -4px;
  left: 0;
  transition: .3s;
  z-index: -1;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.steps-section {
  text-align: center;
  margin-bottom: 100px;
}

.steps-section__title {
  max-width: 670px;
  line-height: 45px;
  margin: auto;
  margin-top: 72px;
  margin-bottom: 60px;
}

.steps-section__subtitle {
  margin-bottom: 60px;
}

.steps-section__block {
  display: flex;
  justify-content: space-around;
}

.step {
  position: relative;
}

.step-image {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 3px solid #ffd200;
  border-radius: 100px;
  margin-bottom: 30px;
}

.step__text {
  display: block;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  max-width: 146px;
  line-height: 20px;
  font-size: 14px;
}

.step::after {
  top: -11px;
  left: 155px;
  position: absolute;
  content: url("../img/steps-img/rounded-arrow.png");
  width: 72px;
  height: 25px;
}

.step:last-child::after {
  display: none;
}

.section-condition {
  background-color: #ffc000;
  text-align: center;
}

.section-condition__title {
  margin: auto;
  width: 1100px;
  font-size: 32px;
  line-height: 50px;
}

.preveligies-section {
  padding-top: 127px;
}

.preveligies-cards {
  display: flex;
  justify-content: space-between;
}

.preveligies-card {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 410px;
}

.preveligies-card__text {
  width: 280px;
  margin-left: 26px;
  margin-top: 27px;
  font-size: 16px;
  line-height: 23px;
}

.contract__description {
  display: block;
  text-align: center;
  max-width: 286px;
}

.contracts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contracts-section__title {
  max-width: 700px;
  margin: auto;
}

.mount {
  width: 270px;
  height: 360px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.brif-section {
  background-image: url("../img/brif-img/background-color.jpg"), url("../img/brif-img/background-image.jpg");
  background-position: left center, right center;
  background-size: 50% , contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-section-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style-type: none;
  margin-top: 94px;
}

.brif-section-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
}

.brif-section-list-item::last-child {
  margin-bottom: 0;
}

.brif-section-list-item-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 35px;
  margin-right: 32px;
}

.brif-section-list-item-text {
  max-width: 379px;
}

.brif-form {
  text-align: center;
}

.brif-form__title {
  margin: auto;
  max-width: 336px;
  margin-bottom: 52px;
  margin-top: 0;
  line-height: 33px;
}

.brif-form__subtitle {
  display: block;
  margin: auto;
}

.brif-form__name, .brif-form__tel, .brif-form__email {
  display: block;
  padding: 26px;
  max-height: 65;
  width: 370px;
  border-radius: 10px;
}

.brif-form__name {
  margin-top: 50px;
  margin-bottom: 15px;
}

.brif-form__tel {
  margin-bottom: 15px;
}

.brif-form__email {
  margin-bottom: 30px;
}

.brif-form__button {
  display: block;
  background-color: #ffd200;
  text-align: center;
  padding: 28px 98px 28px 98px;
  border: none;
  border-radius: 10px;
  margin-bottom: 33px;
}

.brif-form__suptitle {
  text-align: center;
}

.brif-inner {
  display: flex;
  justify-content: space-between;
}

.brif-list__title {
  max-width: 515px;
  margin-top: 0;
  margin-bottom: 50px;
  line-height: 33px;
}

.footer-section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.footer-welcome {
  width: 50%;
  padding-top: 100px;
  padding-left: 215px;
}

.footer-map {
  position: absolute;
  top: 0;
  left: 0;
  height: 640px;
  width: 50%;
}

.footer-title {
  width: 300px;
  font-family: 'Museo Sans Cyrl Bold', sans-serif;
  font-size: 22px;
  line-height: 1.4;
}

.footer-list {
  padding-left: 0;
  margin-top: 100px;
}

.footer-list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.footer-list-item:last-child {
  margin-bottom: 0;
}

.footer-list-item__image {
  height: 20px;
  margin-right: 22px;
}

.footer-list-item__text {
  line-height: 26px;
  max-width: 140px;
}

.footer-list-item__text:last-child {
  max-width: 150px;
}
